body, html {
    height: 100%;
    margin: 0;
  }
  
#container {
    display: grid;
    grid-template-columns: 1fr 7fr;   
    margin: 0 auto;
}

.box {
  min-height: 900px;
}

/*
#linkerkolom {
    background-color: rgb(54, 120, 186);
    opacity: 0.2;  
}
*/

#rechterkolom {
    height: 100%;
    background-image: url("./assets/backgroundPicture.jpg");
    background-size: cover;
}

