body, html {
    height: 100%;
    margin: 0;
}

::-webkit-scrollbar {
  width: 0px;
}

#container {
    display: grid;
    grid-template-columns: repeat(4,2fr);
    grid-auto-rows: minmax(100px,auto);
    margin: 0 auto;
    min-height: 900px;

    grid-template-areas: "naam backgroundimage backgroundimage backgroundimage"
                         "naam backgroundimage backgroundimage backgroundimage"
                         "links backgroundimage backgroundimage backgroundimage"
                         "links backgroundimage backgroundimage backgroundimage"
                         "socialmedia backgroundimage backgroundimage backgroundimage"
                         "socialmedia backgroundimage backgroundimage backgroundimage";
}

#backgroundimage {
  grid-area: backgroundimage;
  grid-column: 1 / -1;
  background: url("./assets/backgroundPicture.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#naam {
  grid-area: naam;
  grid-column: 1/1;
  background-color: #A7BED3;
  opacity: 0.5;
}

#links {
  grid-area: links;
  grid-column: 1/1;
  background-color: #227ccf;
  opacity: 0.5;
}

#socialmedia {
  grid-area: socialmedia;
  grid-column: 1/1;
  background-color: rgb(142, 76, 76);
  opacity: 0.5;
}

#naam {
    /*grid-column: 1/1;
    background-color: #A7BED3;
    opacity: 0.4;
    display: grid;
    grid-template-columns: 1fr;    
    */
}


#rechterkolom {
  /*
    grid-column: 1 / -1;
    background: url("./assets/backgroundPicture.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
    */
}
