@import "/index.css"; 

#containerPortfolio {
    display: grid;
    grid-template-columns: repeat(4,2fr);
    grid-auto-rows: minmax(100px,auto);
    margin: 0 auto;
    min-height: 900px;
    grid-template-areas: "naam spacefinder spacefinder spacefinder"
                         "naam spacefinder spacefinder spacefinder"
                         "links spacefinder spacefinder spacefinder"
                         "links spacefinder spacefinder spacefinder"
                         "socialmedia spacefinder spacefinder spacefinder"
                         "socialmedia spacefinder spacefinder spacefinder";
}


#spacefinder {
    grid-area: spacefinder;
    background-color: white;
    padding-left: 40px;
}

#intro {
    padding-top: 0;
    margin: auto;
    position: fixed;
    left: 50%;
}