@import "/assets/css/main.css"; 

#containerPortfolio {
    display: grid;
    grid-template-columns: repeat(4,2fr);
    grid-auto-rows: minmax(100px,auto);
    margin: 0 auto;
    min-height: 900px;
    grid-template-areas: "naam projects projects projects"
                         "naam projects projects projects"
                         "links projects projects projects"
                         "links projects projects projects"
                         "socialmedia projects projects projects"
                         "socialmedia projects projects projects";
}

img {
  max-width: 100%;
  max-height: 100%;
}

#portfoliolink {
  text-transform: uppercase;
  font-family:'Times New Roman', Times, serif;
  color: white;
}

#projects {
  grid-area: projects;
  background-color: white;
  padding-left: 40px;
}

#PortfolioIntor {
  color: rgba(48, 48, 48, 0.709);
  font-size:30px;
  font-family:'Times New Roman', Times, serif;
  text-transform: uppercase;
}

.projecttitle {
  margin-top: 0px;
  margin-bottom: 0px;
}

.wrapper {
  width: 80%;
  height: 12.5%;
  display: flex;
  border-style:groove;
  border-color: rgb(176, 11, 11);
  display: flex;
  justify-content: space-evenly;
  margin-top: 0%;
}

.banner {
  font-family: Arial, Helvetica, sans-serif;
  width: 30%;
  height: 100%;
}

.appinfo {
  width: 70%;
  height: 100%;
  background-color:white;
}

.projectinformation {
  font-size: 1vw;
}

.date {
  margin-bottom: 0;
}

.navigator {
  
}