@import "../index.css"; 


#containerPortfolio {
    display: grid;
    grid-template-columns: repeat(4,2fr);
    grid-auto-rows: minmax(100px,auto);
    margin: 0 auto;
    min-height: 900px;
    grid-template-areas: "naam intro intro intro"
                         "naam intro intro intro"
                         "links content content content"
                         "links content content content"
                         "socialmedia backgroundimage backgroundimage backgroundimage"
                         "socialmedia backgroundimage backgroundimage backgroundimage";
}

#naam {
    grid-area: naam;
    grid-column: 1/1;
    background-color: rgba(145,13,13,.8);
    opacity: 0.8;
    text-align: center;
  }

  #links {
    grid-area: links;
    grid-column: 1/1;
    background-color: rgba(145,13,13,.8);
    opacity: 0.8;
    padding: 0 40px;
  }
  
  #socialmedia {
    grid-area: socialmedia;
    grid-column: 1/1;
    background-color: rgba(145,13,13,.8);
    opacity: 0.8;
    padding: 0 40px;
}

#portfoliolink {
  text-transform: uppercase;
  font-family:'Times New Roman', Times, serif;
  color: white;
}